div.query-builder {
  margin-bottom: 1em;
}

select.qb-input, input.qb-input, button.qb-input {
  margin: 2.5px;
  margin-right: 5px;
  margin-left: 0px;
}

select.qb-negate {
  max-width: 70px;
}

button.qb-optional-button {
  margin-left: 40px;
}

select.qb-datetime-select {
  max-width: 70px;
  margin-left: 5px;
}

div.qb-simple-entry {
  padding: 2.5px 0px;
  display: block;
}

.btn-group .qb-input {
  margin-right: 0px;
}

span.qb-filter-name {
  padding: 5px;
  /* I have no idea why the following gives the correct alignment but e.g.
   * "baseline" doesn't, but hey, it works. */
  vertical-align: sub;
}

ul.qb-ul {
  list-style-type: none;
}

/* override some weird stuff from the theme */
div.query-builder .btn-group::before, div.query-builder .btn-group::after {
  display: unset;
  clear: unset;
}

div.query-builder .btn-group > .btn {
  float: none;
}
